.feature-body{
    display: flex;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    
}

.main{
    width: 1500px;
    padding-bottom: 0;
    height: 600px;
    margin-top: 200px;
    border-radius:15px; 
    background-color: rgba(113, 0, 255, 0);
    border: 3px solid #FBAD70;

    box-shadow: 0px 8px 5.5px 0px #00000042;

    box-shadow: 1px 4px 33.4px 0px #7100FF;
    display: flex;
    justify-content: space-between;
    background: #0403038F;


}
.words{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 140px;
}
h1{
    font-family: "Bitter", serif;;
   font-size: 80px;
    font-weight: 1000;
text-align: left;
margin-bottom: 30px;
margin-left: 50px;

}
.p1{
    font-family: Scada;
    font-size: 30px;
    font-weight: 200;
    line-height: 68.38px;
    text-align: left;
    color: #AFAFAF;
    margin-left: 50px
    ;
  

}

