.feature-body{
    display: flex;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    
}

.main{
    width: 100%;
    padding-bottom: 0;
    height: 600px;
    margin-top: 100px;
    border-radius:15px; 
    background-color: rgba(113, 0, 255, 0);
    border: 3px solid #FBAD70;

    box-shadow: 0px 8px 5.5px 0px #00000042;

    box-shadow: 1px 4px 33.4px 0px #7100FF;
    display: flex;
    justify-content: space-between;
    background: #0403038F;


}
.words{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 140px;
}
h1{
    font-family: "Bitter", serif;;
   font-size: 80px;
    font-weight: 1000;
text-align: left;
margin-bottom: 30px;
margin-left: 50px;

}
.p1{
    font-family: Scada;
    font-size: 30px;
    font-weight: 200;
    text-align: left;
    color: #AFAFAF;
    margin-left: 50px
    ;
  

}
img{
    width: 500px;
    height: 600px;
    margin-bottom: 0;
}
@media screen and (max-width:  1024px) {
    img{
        width: 400px;
        height: 500px;
        margin-bottom: 0;
        margin-left: 26px;
    }
    .main{
        width: 100%;
        display: flex;
        margin-top: 100px;
        padding: 0;
        height: 500px;
    }
    h1{
        font-size: 50px;
        margin-left: 0;
        text-align: center;
    }
    .p1{
        text-align: center;
        margin-left: 0;
    }
}