.main-f{
   display: flex;
   justify-content: center;
}
.box{
    display: flex;
    justify-content: space-between;
   top: 916px;
   left: 46.5px;
   gap: 71px;
   opacity: 0px;
   width: 1200px;

}
.box1{
  display: flex;
  flex-direction: column;
    width: 800px;
height: Fixed (229px)px;
padding: 15px 0px 15px 0px;
gap: 3px;
opacity: 0px;
align-items: left;
color: white;
box-sizing: border-box;
align-items: center;
border: #C9C9C9;
background: #1010100D;


}
.sub-b11{
    box-sizing: border-box;
    display: flex;
    width: 750px;
    padding: 0px 33px 0px 33px;
    gap: 45px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #626262;
    height: 177px;
    margin-bottom: 20px;
    font-family: varela Round;
    border-radius: 10px;
    border: solid 1px #C9C9C9;
    background-color: rgba(0, 0, 0, 0.153);
    
}
.sub-b111{
  display: flex;
  width: 750px;
  gap: 45px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #626262;
  height: 80px;
  margin-bottom: 20px;
  font-family: varela Round;
  border-radius: 10px;
  border: solid 1px #C9C9C9;
  background-color: rgba(0, 0, 0, 0.153);
  
}

.btn-gra{
    background: linear-gradient(90deg, #5200FF 0%, #FF0059 100%);
    height: 50px;
    width: 270px;
border-radius: 14px;
opacity: 0px;
color: white;
border: none;
padding-left: 50px;
margin-top: 60px;
text-align: center;
padding-bottom: 60px;

}
.e{
    text-align: center;
    font-family: Varela Round;
font-size: 17px;
font-weight: 300;
line-height: 38.53px;
text-align: left;

}
.sm-1{
    display: flex;
    align-items: center;
}
.p2{
    font-family: Varela Round;
text-align: left;
font-size: 17px;
width: 300;
margin-right: 5px;
}
.img1{
    width: 5px;
}


.box-2{
    display: flex;
align-items: flex-end;
padding-bottom: 20px;
padding-left: 40px;
}
.sub-box{
background: linear-gradient(95.22deg, #ED006A 4.18%, #D10085 33.79%, #5700FA 87.37%);
color: white;
width: 380px;
height: 213px;
gap: 10px;
border-radius: 15px;
opacity: 0px;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;

}
.btn-bum{
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
    width: 519px;
height: 84px;
padding: 10px 0px 0px 0px;
gap: 10px;
border-radius: 14px 0px 0px 0px;
border: 0px 1px 0px 0px;
opacity: 0px;

}
@media only screen and (max-width: 1200px) {
  .box {
      width: 100%;
      padding: 0 20px; /* Adjust as needed */
  }

  .box1,
  .sub-b11,
  .btn-gra,
  .e,
  .sm-1,
  .p2,
  .box-2,
  .sub-box,
  .btn-bum {
      width: 100%;
  }
}

@media only screen and (max-width: 768px) {
 
 .box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   top: 916px;
   left: 46.5px;
   gap: 71px;
   opacity: 0px;
   width: 1000px;

}
.sub-b11{
  box-sizing: border-box;
  display: flex;
  width: 410px;
  padding: 0px 20px 0px 20px;
  gap: 45px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #626262;
  height: 177px;
  margin-bottom: 20px;
  font-family: varela Round;
  border-radius: 10px;
  border: solid 1px #C9C9C9;
  background-color: rgba(0, 0, 0, 0.153);
  
}

.btn-gra{
  background: linear-gradient(90deg, #5200FF 0%, #FF0059 100%);
  height: 15px;
  width: 145px;
border-radius: 14px;
opacity: 0px;
color: white;
border: none;
margin-top: 60px;
text-align: center;
font-size: 10px;
padding-right: 50px;
padding-top: 15x;
align-items: center;
}
.e{
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
.sm-1{


}
.p2{
  font-size: 10px;
  margin-right: 3px;
}
}