


body{
  font-family:  "Inter", sans-serif; 
  font-family: "Bitter", serif;;
  background-color: #181818;
  background-image: url(../src/asset/Group\ \(1\).png);
  background-repeat: no-repeat; 
  background-position: top center; 
  margin: 0px;
}
